<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://gmpg.org/xfn/11" rel="profile">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico">

    <title>Google Plus Daily Photography Themes</title>
</head>

<body>

<div class="masthead">
      <div class="container">
        <h1>Google+ Photography Themes</h1>
        <p class="lead">A brutally simplistic and highly usable list of themes to help inspire, motivate, and grow your following.</p>
      </div>
    </div>

	{{range .Themes}}
		<li>{{.Name }} - {{.Tag}}</li>
	{{end}}

</body>
</html>